{% extends 'market/base.html' %}
{% load widget_tweaks %}
&nbsp;{% block content %}
<div class="row justify-content-center">
  <div class="col-sm-3 col-xl-4">

  </div>
  <div class="col-sm-6 col-xl-4">
    <div class="card">
 <div class="card-body">
{% if can_create %}
  <h2 class="card-title display-5">Новый товар</h2>
<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {% for field in form %}
    <div class="mb-3">
      <label class="form-label"><h6>{{ field.label_tag }}</h6></label>
          {% render_field field class="form-control"%}
          <div class="form-text">{{ field.help_text }}</div>
      </div>
  {% endfor %}
    <div class="mb-3">
      <label class="form-label"><h6>{{ imgform.image.label_tag }}</h6></label>
          {% render_field imgform.image class="form-control" type="file" id="formFileMultiple" %}
        <div class="form-text"><span class="badge bg-danger">{{ error }}</span></div>
      </div>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>
{% else %}
<h2 class="card-title display-5">Отказано в доступе</h2>
{% endif %}
 </div>
</div>
  </div>
      <div class="col-sm-3 col-xl-4">

  </div>
</div>
{% endblock content %}